.row
  .col-xs-6
    .well.well-lg
      %h3 Welcome
      %p
        Lorem ipsum dolor sit amet, ex modo vituperatoribus quo, minim necessitatibus qui ne. Vim an volutpat forensibus. Vocent accusamus eos eu, eum ea vituperata quaerendum. Ex harum pericula mei, at mel ludus dolor. Diam autem antiopam ei mea, ut graece propriae mediocrem usu, exerci facete temporibus ius ad. Mazim possit fastidii ut sit, audiam adipiscing ut quo, ullum maiorum placerat in ius.
      %p
        Porro libris epicuri eam an, ad tale graeci feugait vim. Accumsan perpetua eum te. Eu stet nullam pri. Ei tempor principes dignissim sed, altera iracundia et duo. Eam brute ipsum omittantur et, quo perfecto prodesset an, natum corrumpit te mei.
