-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav.navbar-nav
        - if (%w(admin users registrations sessions).include? controller_name) || (controller.class.name.split('::').first == 'Admin')
          = render 'layouts/admin_navigation_links'
        - else
          = render 'layouts/navigation_links'
